@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
}

li{
    display: flex;
    width: 70%;
    gap: 30px;
    align-items: center;
    margin-block: 20px;
    flex-wrap: wrap;
}

.task__actions{
    display: flex;
    justify-content: space-around;
    flex: 1;
    border: 1px solid #16404D;
    border-radius: 6px;
    gap:5px;
}
.task__actions span:nth-of-type(2){
    background: #16404D;
    width: .5%;
}

.task__actions{
    padding: 3px;
}

.task__name{
    flex: 2;
    border-bottom: 1px solid #DDA853;
    padding: 3px;
    font-size: 20px;
}

body{
    padding-block: 50px;
    padding-inline: 50px;
}

#dynamic-list{
    background: #FBF5DD;
    padding: 50px;
    color:  #16404D;
    border-right: 10px;
    width: 60%;
    margin: auto;
}

input[type="text"], button{
    font-size: 20px;
}

h1{
    font-size: 35px;
}

button{
    background: #16404D;
    color: #FBF5DD;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
